version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cal_view
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - ./data:/data
    restart: unless-stopped
